.form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}

.w-200{
    width: 200px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
  }  

.info {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.import {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.save-btn {
    width: 100%;
}