<div class="detail-content">
  <!-- <div>
    <h1>Book Details</h1>
  </div> -->
  <mat-card class="card">
    <div class="wrapper">
      <div class="pt-2">
        <mat-card class="img-container">
          <img class="img" src="{{ book.image }}" />
        </mat-card>
      </div>
      <div class="basic">
        <h1 class="pt-2">{{ book.title }}</h1>
        <div class="actions pt-2">
          <button mat-icon-button color="accent">
            <mat-icon>favorite_border</mat-icon>
          </button>
          <mat-divider vertical></mat-divider>
          <button mat-icon-button color="accent">
            <mat-icon>share</mat-icon>
          </button>
          <button class="buy-btn" mat-raised-button color="primary">BUY</button>
        </div>
        <div class="row pt-2">
          <mat-chip-list class="pr-1" *ngFor="let category of book.categories">
            <mat-chip>{{ category }}</mat-chip>
          </mat-chip-list>
        </div>
        <div class="row pt-2">
          <mat-icon class="pr-1">account_circle</mat-icon>
          <h4 class="pr-1">{{ book.author }}</h4>
          <mat-icon class="pr-1">menu_book</mat-icon>
          <h4>{{ book.pages }}</h4>
        </div>
        <div class="row">
          <mat-icon class="pr-1">business</mat-icon>
          <h4 class="pr-1">{{ book.publisher }}</h4>
          <mat-icon class="pr-1">today</mat-icon>
          <h4 class="pr-1">{{ book.published | toYear }}</h4>
        </div>
        <h4 class="m-0">ISBN-10: {{ book.isbn10 || "-" }}</h4>
        <h4>ISBN-13: {{ book.isbn }}</h4>
        <app-rating class="pl-1" [rating]="book.rating"></app-rating>
      </div>
    </div>
  </mat-card>
</div>
