.nav-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 45px;
}

.text {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.icon {
    color: white;
    font-size: 26px;
}

.pt-03 {
    padding-top: 3px;
}

.text2 {
    color: white;
}