<div class="grid pt-2">
    <div *ngFor="let book of books">
        <mat-card class="card" tabindex="0">
            <img [routerLink]="[book.isbn]" class="img" mat-card-image src={{book.image}} routerLinkActive="active">
            <mat-card-content class="card-content">
                <div class="text">
                    <strong class="link" [routerLink]="[book.isbn]" routerLinkActive="active">{{book.title}}</strong>
                </div>
                <mat-divider [inset]="true"></mat-divider>
                <div>
                    <app-rating [rating]="book.rating" (ratingChanged)="onRatingChanged($event)"></app-rating>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>