.w-form {
    // max-width: 200px;
    min-width: 370px;
    width: 100%;
}

.w-input {
    width: 100%;
}

.filter-content {
    padding-top: 30px;
    display: flex!important;
    justify-content: center;
}