@use '~@angular/material' as mat;

@include mat.core();

$bookstore-primary: mat.define-palette(mat.$orange-palette, 500);
$bookstore-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$bookstore-warn: mat.define-palette(mat.$red-palette);

$bookstore-theme: mat.define-light-theme((
  color: (
    primary: $bookstore-primary,
    accent: $bookstore-accent,
    warn: $bookstore-warn,
  )
));

@include mat.all-component-themes($bookstore-theme);

/* You can add global styles to this file, and also import other style files */
body,
html {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #f5f7fb;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mx-auto {
    margin: 0 auto 0 auto;
}

.pr-1 {
    padding-right: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
